<% include partials/header %>
<div class="container">
    <header class="jumbotron">
        <h1 class="display-4">Bienvenido a GPS Tracking!</h1>
        <p class="lead">Visualiza, crea y comparte rutas a tiempo real!</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/track/" role="button">Crear Rutas</a>
        <a class="btn btn-primary btn-lg" href="/track/ver" role="button">Visualizar Rutas</a>
    </header>
<% include partials/footer %>